@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main-header {
    background-color: #2ddf5c;
    left: 0;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}

.logo a {
    display: inline-block;
    vertical-align: middle;
}

.logo__image {
    width: 40px;
}

.main-nav {
    display: inline-block;
    width: 78%;
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    text-align: right;
    padding: 0;
}

.main-nav__item {
    display: inline-block;
    margin: 0 0.5rem;
}

.main-nav__link {
    color: #0e4f1f;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 0.25rem;
}

.main-nav__link:hover,
.main-nav__link:active {
    color: white;
    border-bottom: white 3px solid;
}

.main-nav__link--selected{
    background-color: #ff1b68;
    color: #fff;
    padding: 0.5rem 0.75rem;
    border-bottom: none;
    border-radius: 8px;
}

.main-nav__link--selected:hover,
.main-nav__link--selected:active{
    background-color: #fff;
    color: #ff1b68;
    border-bottom: none;
}

.main-footer {
    background-color: black;
    color: white;
    height: 100px;
    margin-top: 2rem;
    padding: 2rem;
}

.main-footer__items {
    list-style: none;
    text-align: center;
    vertical-align: middle;
}

.main-footer__item {
    display: inline-block;
    margin: 0 1rem;
}

.back-drop {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

.mobile-nav {
    background-color: white;
    display: none;
    height: 100vh;
    width: 20rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
}

.mobile-nav__links {
    margin-top: 2rem;
    padding: 0;
    text-align: center;
}

.mobile-nav__link {
    display: block;
    margin: 2rem 0;
}

.mobile-nav__link a {
    color: #0e4f1f;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.mobile-nav__link--selected a{
    background-color: #ff1b68;
    border-radius: 10px;
    color: white;
    padding: 1rem 2rem;
}

.mobile-nav__link--selected a:hover,
.mobile-nav__link--selected a:active{
    background-color: white;
    color: #ff1b68;
}

.toogle-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 2.3rem;
    margin-right: 0.3rem;
    outline: none;
    padding: 1px 0;
    vertical-align: middle;
    width: 2rem;
}

.toogle-button__bar {
    background-color: black;
    display:  block;
    margin: 5px 0;
    height: 5px;
    width: 100%;
}